.date-container {
    margin-top: 20px;
}

.add-button {
    margin-top: 20px;
    width: 100%;
}

.planification-card {
    margin-top: 20px;
}

.trash-column {
    text-align: center;
    align-self: center;
}